.conteiner-search {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: midnightblue;
  height: 60px;
}

.search-form {
  position: relative;
  margin: auto;

  & input {
    height: 30px;
    border-radius: 4px;
    border-color: black;
  }

  & button {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    padding: 7px;
    border: none;
    background-color: #0000001c;

    &:hover svg {
      fill: midnightblue;
    }
  }
}
